/* Mobile Navbar */

.nav-icon {
    background: transparent;
    border: none;
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
}

.hamburger-lines {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
}

.line {
    display: block;
    height: 3px;
    margin: 3px 0;
    width: 100%;
    border-radius: 1px;
    background: #000;
    transition: all 300ms;
}

body.is-visible .line1 {
    transform: rotate(40deg);
}
body.is-visible .line2 {
    transform: scaleY(0);
}
body.is-visible .line3 {
    transform: rotate(-40deg);
}

.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.line2 {
    transition: transform 0.2s ease-in-out;
}
.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.small-nav {
  display: none;
  font-size: 16px;
  position: absolute;
  top: 80px;
  width: 100%;
  text-transform: uppercase;
  z-index: 10;
}

body.is-visible .small-nav{
  display: block;
}

.small-nav ul {
  background-color: #fff;
}

.small-nav ul li {
    padding: 16px 164.5px 16px 30px;
    
}

.small-nav ul li a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 800px) {
    .hide {
        display: none;
    }

    .nav-icon {
        display: block;
    }
}